.boardNavUp > a, .boardNavDown > a {
    padding-left: 0px;
    padding-right: 0px;
}

.boardNavUp > div, .boardNavDown > div {
    max-width: min-content;
}
    
.clickable {
    cursor: pointer;
    font-weight: 700 !important;
    color: #444444 !important;
    text-decoration: none;
}

.boardNavBoardNumberAsPlayed {
    font-size: 10px;
}

#myBody {
    color: #000000;
}

.clickable:hover {
    text-decoration: underline;
}

.narrow {
    white-space: nowrap;
    width: 1%;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.smaller {
    font-size: 90%;
}

.greyedOut {
    opacity: 30%;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
}

#buttonsRow {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 5px;
    z-index: 10000;
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    text-align: center;
}

.table-bordered, .table-bordered td, .table-bordered th, .table-bordered tr, .table-bordered thead th {
    border-color: #888888;
}

@media (min-width: 576px) {
    #buttonsRow {
        display: block;
        width: 60px;
        height: 100%;
    }

    .btnContainer4 {
        width: 100%;
        height: 25%;
    }

    .btnContainer5 {
        width: 100%;
        height: 20%;
    }

    .btnContainer6 {
        width: 100%;
        height: 16.66%;
    }

}

.table-img {
    vertical-align: baseline;
}

.bImage {
    max-width: 6em;
}

.marginCol {
    width: 60px;
}

@media (min-width: 1200px) {
    #tabB {
        max-width: 500px;
        max-height: 100vh;
        overflow-y: scroll;
    }
}

#footerImg {
    max-width: 8em;
}

.tooltip-inner {
    color: #212529;
    background-color: #f8f9fa;
    border: 1px solid #212529;
    max-width: 300px;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #212529;
}

.tooltip {
    pointer-events: none;
}

.might-be-long-cell {
    max-width: 158px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.might-be-long-cell250 {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.might-be-long-cell350 {
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.border-3 {
    border-width: 3px !important;
}

#tdMail {
    font-weight: 500 !important;
}

.boardToCopy span {
    display: inline-block;
}

@media print {
    .row {
        display: block;
    }

    footer .row {
        display: flex !important;
    }

    table tr td, table tr th, table .clickable, #pairH, footer, .boardInfo {
        color: #000000 !important;
    }

    .clickable, a.clickable {
        font-weight: 500 !important;
        text-decoration: none;
    }

    #myBody {
        min-width: auto !important;
    }

    #buttonsRow, .boardNavUp, .boardNavDown, #chooseLanguageDiv {
        display: none !important;
    }

    .contentB .row {
        display: flex;
    }

    .scoresTable {
        display: block !important;
    }

    .div-for-sticky-table {
        display: unset !important;
        max-height: unset !important;
    }

    .d-md-table-cell {
        display: table-cell !important;
    }

    .d-sm-table-cell {
        display: table-cell !important;
    }

}

@keyframes progress {
    from {
        left: -84%;
    }

    50% {
        left: 0%;
    }

    to {
        left: -84%;
    }
}

.liveResults {
    position: relative;
    display: inline-block;
}

.liveResults span:after {
    content: "";
    background: linear-gradient( to right, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.0) 84%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100% );
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    animation-duration: 5s;
    animation-name: progress;
    animation-iteration-count: infinite;
}

a.disabled {
     pointer-events: none;
     cursor: default;
}

td.wrongLines {
    background-color: lightpink;
}

.table-nonfluid {
    width: auto !important;
}

.flag {
    height: 1em;
    vertical-align: sub;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v50/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
    
.table-sticky tbody td:first-child {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
    background: #FFF;
}

.table-sticky thead th:first-child {
    left: 0;
    z-index: 2;
}

.table-sticky thead th:first-child,
.table-sticky tbody td:first-child {
    box-shadow: 1px 0 0 #888, -1px 0 0 #888;
}

.div-for-sticky-table {
    overflow: scroll;
    max-height: 90vh;
}

.header-sticky thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    z-index: 1;
    background: #FFF;
}

.header-sticky th::after,
.header-sticky th::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
}

.header-sticky th::before {
    top: -1px;
    border-top: 1px solid #888;
}

.header-sticky th::after {
    bottom: -1px;
    border-bottom: 1px solid #888;
}

.header-sticky-second-row th {
    top: 1.8rem !important;
}

del {
    color: #AAA;
}